<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497973639618-iv1j6sin1vd2mju1im8e7b8otnpqu65k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497973639618-iv1j6sin1vd2mju1im8e7b8otnpqu65k</string>
	<key>API_KEY</key>
	<string>AIzaSyB-guG0_It4QKZN-2EdQwqRj8IcTbS0qBs</string>
	<key>GCM_SENDER_ID</key>
	<string>497973639618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.journeyLogs</string>
	<key>PROJECT_ID</key>
	<string>jounery-logs-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>jounery-logs-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497973639618:ios:f058ce8ad4422ff3aa7e5b</string>
</dict>
</plist>